@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 261 36% 100%;
      --foreground: 261 70% 2%;
      --muted: 261 38% 88%;
      --muted-foreground: 261 5% 32%;
      --popover: 0 0% 99%;
      --popover-foreground: 261 70% 1%;
      --card: 0 0% 99%;
      --card-foreground: 261 70% 1%;
      --border: 220 13% 91%;
      --input: 220 13% 91%;
      --primary: 261 82% 35%;
      --primary-foreground: 261 82% 95%;
      --secondary: 261 16% 85%;
      --secondary-foreground: 261 16% 25%;
      --accent: 261 23% 76%;
      --accent-foreground: 261 23% 16%;
      --destructive: 13 92% 34%;
      --destructive-foreground: 13 92% 94%;
      --ring: 261 82% 35%;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 265.71 10.14% 13.53%;
      --foreground: 261 40% 98%;
      --muted: 261 38% 12%;
      --muted-foreground: 261 5% 68%;
      --popover: 270 11.11% 7.06%;
      --popover-foreground: 261 40% 99%;
      --card: 265.71 8.83% 7.07%;
      --card-foreground: 261 40% 99%;
      --border: 215 27.9% 16.9%;
      --input: 215 27.9% 16.9%;
      --primary: 261 82% 35%;
      --primary-foreground: 261 82% 95%;
      --secondary: 261 3% 16%;
      --secondary-foreground: 261 3% 76%;
      --accent: 153.96 39.45% 31.99%;
      --accent-foreground: 261 8.67% 90.74%;
      --destructive: 348.68 67.48% 52.7%;
      --destructive-foreground: 0 0% 100%;
      --ring: 261 82% 35%;
    }
  }
  

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }